/* #region RESET */
:root {
    --header-gray: #eaeaea;
    --main-beige: #f3eeea;
    --chat-green: #d5f9ba;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

/* #endregion RESET */
/* #region PRESET */
/* display */
.d-none {
    display: none;
}

.d-inline-block {
    display: inline-block;
}

.d-block {
    display: block;
}

.d-table {
    display: table;
}

.d-flex {
    display: flex;
}

/*---- wrap ----*/
.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

/* ---- align-content ---- */
.align-content-start {
    align-content: flex-start;
}

.align-content-end {
    align-content: flex-end;
}

.align-content-center {
    align-content: center;
}

/* ---- align-items ---- */
.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}

/* ---- justify-content ---- */
.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

/* ---- flex-direction ---- */
.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

/* MARGIN (m) e PADDING (p) */
.m-auto {
    margin-inline: auto;
}

.me-auto {
    margin-right: auto;
}

.ms-auto {
    margin-left: auto;
}

.mx-auto {
    margin-right: auto;
    margin-left: auto;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

/* TEXT */
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-black {
    color: #000;
}

.text-white {
    color: #fff;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

/* BORDERS */
.border {
    border: 1px solid;
}

.no-border {
    border: none;
}

.border-top {
    border-top: 1px solid;
}

.border-bottom {
    border-bottom: 1px solid;
}

.border-right {
    border-right: 1px solid;
}

.border-left {
    border-left: 1px solid;
}

.rounded-20 {
    border-radius: 20px;
}

.rounded-40 {
    border-radius: 40px;
}

.rounded-50 {
    border-radius: 50%;
}

/*---- link  ----*/
.visited-link {
    text-decoration: underline;
    color: -webkit-link;
    cursor: pointer;
}

/* #endregion PRESET */
/* #region UTILITY */
/*----------------
    margin  
------------------*/
/* 10 */
.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.me-10 {
    margin-right: 10px;
}

.ms-10 {
    margin-left: 10px;
}

.my-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mx-10 {
    margin-right: 10px;
    margin-left: 10px;
}

/* 20 */
.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.me-20 {
    margin-right: 20px;
}

.ms-20 {
    margin-left: 20px;
}

.my-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mx-20 {
    margin-right: 20px;
    margin-left: 20px;
}

/* 30 */
.mt-30 {
    margin-top: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

.me-30 {
    margin-right: 30px;
}

.ms-30 {
    margin-left: 30px;
}

.my-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mx-30 {
    margin-right: 30px;
    margin-left: 30px;
}

/* 40 */
.mt-40 {
    margin-top: 40px;
}

.mb-40 {
    margin-bottom: 40px;
}

.me-40 {
    margin-right: 40px;
}

.ms-40 {
    margin-left: 40px;
}

.my-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.mx-40 {
    margin-right: 40px;
    margin-left: 40px;
}

/* 50 */
.mt-50 {
    margin-top: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}

.me-50 {
    margin-right: 50px;
}

.ms-50 {
    margin-left: 50px;
}

.my-50 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.mx-50 {
    margin-right: 50px;
    margin-left: 50px;
}

/* 60 */
.mt-60 {
    margin-top: 60px;
}

.mb-60 {
    margin-bottom: 60px;
}

.me-60 {
    margin-right: 60px;
}

.ms-60 {
    margin-left: 60px;
}

.my-60 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.mx-60 {
    margin-right: 60px;
    margin-left: 60px;
}


/* 80 */
.mt-80 {
    margin-top: 80px;
}

.mb-80 {
    margin-bottom: 80px;
}

.me-80 {
    margin-right: 80px;
}

.ms-80 {
    margin-left: 80px;
}

.my-80 {
    margin-top: 80px;
    margin-bottom: 80px;
}

.mx-80 {
    margin-right: 80px;
    margin-left: 80px;
}

/* 90 */
.mt-90 {
    margin-top: 90px;
}

.mb-90 {
    margin-bottom: 90px;
}

.me-90 {
    margin-right: 90px;
}

.ms-90 {
    margin-left: 90px;
}

.my-90 {
    margin-top: 90px;
    margin-bottom: 90px;
}

.mx-90 {
    margin-right: 90px;
    margin-left: 90px;
}


/*----------------
    padding  
------------------*/
/* 10 */
.pt-10 {
    padding-top: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pe-10 {
    padding-right: 10px;
}

.ps-10 {
    padding-left: 10px;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.px-10 {
    padding-right: 10px;
    padding-left: 10px;
}

/* 20 */
.pt-20 {
    padding-top: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pe-20 {
    padding-right: 20px;
}

.ps-20 {
    padding-left: 20px;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.px-20 {
    padding-right: 20px;
    padding-left: 20px;
}

/* 30 */
.pt-30 {
    padding-top: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pe-30 {
    padding-right: 30px;
}

.ps-30 {
    padding-left: 30px;
}

.py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.px-30 {
    padding-right: 30px;
    padding-left: 30px;
}

/* 40 */
.pt-40 {
    padding-top: 40px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pe-40 {
    padding-right: 40px;
}

.ps-40 {
    padding-left: 40px;
}

.py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.px-40 {
    padding-right: 40px;
    padding-left: 40px;
}

/* 50 */
.pt-50 {
    padding-top: 50px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pe-50 {
    padding-right: 50px;
}

.ps-50 {
    padding-left: 50px;
}

.py-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.px-50 {
    padding-right: 50px;
    padding-left: 50px;
}

/* 60 */
.pt-60 {
    padding-top: 60px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pe-60 {
    padding-right: 60px;
}

.ps-60 {
    padding-left: 60px;
}

.py-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.px-60 {
    padding-right: 60px;
    padding-left: 60px;
}

/*----------------
    columns  
------------------*/
.col-20 {
    width: 20%;
}

.col-25 {
    width: 25%;
}

.col-30 {
    width: 30%;
}

.col-40 {
    width: 40%;
}

.col-50 {
    width: 50%;
}

.col-60 {
    width: 60%;
}

.col-70 {
    width: 70%;
}

.col-80 {
    width: 80%;
}

.col-90 {
    width: 90%;
}

.col-100 {
    width: 100%;
}

/*----------------
    gap  
------------------*/
.gap-20 {
    gap: 20px;
}

/* #endregion UTILITY */
/* #region MAIN */
#container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom,
            #009688 150px,
            #dbdbd2 150px 100%);
}

.chat {
    height: 90%;
    width: 1100px;
}

.left-chat {
    max-width: 21.875rem;
    width: 30%;
    height: 100%;
    border-right: 1px solid var(--main-beige);
}

.right-chat {
    max-width: 50rem;
    width: 70%;
    height: 100%;
}

/* chat  */
.chat-header {
    background-color: var(--header-gray);
    height: 4rem;
    flex-shrink: 0;
}

.h-avatar-container {
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
}

.m-avatar-container {
    width: 3.125rem;
    height: 3.125rem;
    overflow: hidden;
}

.subtitle {
    font-size: 14px;
    color: #9d9093;
}

.notification-box {
    height: 4.375rem;
    background-color: #8edafc;
    flex-shrink: 0;

}

.bell-wrapper {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #fff;
    color: #8edafc;
    overflow: hidden;
    flex-shrink: 0;
}

/* input  */
.input-box {
    padding: 6px;
    background-color: var(--main-beige);
    flex-shrink: 0;
}

.input-box div,
.input-box input {
    background-color: #fff;
    height: 30px;
    line-height: 30px;
    border-radius: 2px;
    border: none;
}

.input-box div {
    border-right: 1px solid var(--main-beige);
}

/* /input  */

/* contacts  */
.contacts {
    background-color: #fff;
    height: 100%;
    overflow-y: auto;
}

.contact {
    height: 5rem;
    padding-left: 16px;
    flex-shrink: 0;
}

.contact:not(:last-of-type) {
    border-bottom: 1px solid var(--main-beige);
}

/* /contacts  */

/* main chat  */
.main-chat {
    background-image: url(../img/mine.jpg);
    height: calc(100% - 50px);
    padding: 40px;
    overflow-y: auto;
}

/* messages  */
.text-message {
    width: 300px;
    height: 50px;
    border-radius: 6px;
}

.sent-message {
    background-color: var(--chat-green);
}

.received-message {
    background-color: #fff;

}

.typing-box {
    height: 50px;
    background-color: var(--main-beige);
    padding-block: 6px;
}

.typing-box input {
    width: 90%;
    height: 30px;
    border: none;
    border-radius: 6px;
}

.typing-box div {
    width: 5%;
    text-align: center;
}

/* #endregion MAIN */